* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #171a20;
    font-family: 'Figtree', sans-serif;
    overflow-y: initial;
}

.contentArea {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.scrollArea {
    height: 100vh;
    scroll-snap-align: start;
    background-size: cover;
    background-position: center;
}

section {
    height: 100vh;
}

section .content {
    width: 100%;
    height: 100vh;
    padding-top: 15vh;
    padding-bottom: 15vh;
    text-align: center;
    display: grid;
    grid-template-rows: min-content auto min-content;
}

section h1 {
    font-size: 3rem;
}

section a {
    color: inherit;
}

section .buttons a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    color: inherit;
    border-radius: 5px;
    text-decoration: none;
}

section .buttons a:first-child{
    background-color: #444;
    color: #fff;
}

section .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}