@media (min-width: 768px) {
    .desktop {
        display: initial;
    }
}

@media (min-width: 768px) {
    section .buttons {
        margin: 0;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
    }

    section .buttons a {
        width: 264px;
        height: 40px;
    }
}