* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #171a20;
    font-family: 'Figtree', sans-serif;
}

@media (min-width: 900px) {
    .desktop {
        display: initial;
    }
}

.logo {
    width: 20vw;
    color: inherit;
    margin-top: 10px;
    margin-left: 25px;
}

.dropdown-menu {
    position: relative;
    width: 280px;
    height: 100vh;
    display: flex;
    justify-content: right;
    background: white;
}
